@charset "UTF-8";
/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Lato:300,700');
.xpanel .dummy {
  display: none;
}
.xpanel > * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  background: #FFF;
  width: 100%;
}
.xpanel.shadow:not(.reverse) .in,
.xpanel.shadow:not(.reverse) .out {
  -webkit-box-shadow: 0 2px 20px #252525;
  box-shadow: 0 2px 20px #252525;
}
.xpanel.shadow.reverse .in,
.xpanel.shadow.reverse .out {
  -webkit-box-shadow: 0 -2px 20px #252525;
  box-shadow: 0 -2px 20px #252525;
}
.xpanel.dim > *:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  pointer-events: none;
}
.xpanel.dim.scroll-down:not(.reverse) .in:before,
.xpanel.dim.scroll-up.reverse .in:before {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.4);
  -moz-animation: xpanel-lighten 0.8s forwards;
  -o-animation: xpanel-lighten 0.8s forwards;
  -webkit-animation: xpanel-lighten 0.8s forwards;
  animation: xpanel-lighten 0.8s forwards;
}
.xpanel.dim.scroll-down.reverse .out:before,
.xpanel.dim.scroll-up:not(.reverse) .out:before {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.4);
  -moz-transition: background-color 0.8s ease;
  -o-transition: background-color 0.8s ease;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}
.xpanel:not(.reverse).scroll-down .out {
  position: relative;
  z-index: 300;
  bottom: 0 !important;
}
.xpanel:not(.reverse).scroll-down .out + .dummy {
  display: block;
}
.xpanel:not(.reverse).scroll-down .in {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}
.xpanel:not(.reverse).scroll-up .in {
  position: relative;
  z-index: 300;
}
.xpanel:not(.reverse).scroll-up .in + .dummy {
  display: block;
}
.xpanel:not(.reverse).scroll-up .out {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}
.xpanel.reverse.scroll-down .out {
  position: fixed;
  left: 0;
  bottom: 0;
  top: auto !important;
  z-index: 200;
}
.xpanel.reverse.scroll-down .out + .dummy {
  display: block;
}
.xpanel.reverse.scroll-down .in {
  position: relative;
  z-index: 300;
}
.xpanel.reverse.scroll-up .in {
  position: fixed;
  left: 0;
  bottom: 0;
  top: auto !important;
  z-index: 200;
}
.xpanel.reverse.scroll-up .in + .dummy {
  display: block;
}
.xpanel.reverse.scroll-up .out {
  position: relative;
  z-index: 300;
}
@-moz-keyframes xpanel-lighten {
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes xpanel-lighten {
  100% {
    background-color: transparent;
  }
}
@keyframes xpanel-lighten {
  100% {
    background-color: transparent;
  }
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  color: #2C2C2C;
  font: 300 100% 'Lato', sans-serif;
}
article {
  font-size: 1.3em;
  min-height: 700px;
  padding: 20% 20px;
  font-weight: 200;
  text-align: center;
  background-color: white;
}
.colorful article:nth-of-type(1) {
  background-color: #A8DA5E;
}
.colorful article:nth-of-type(2) {
  background-color: #FFF581;
}
.colorful article:nth-of-type(3) {
  background-color: #2AEEE6;
}
.colorful article:nth-of-type(4) {
  background-color: #313131;
  color: #3FC9C3;
}
.colorful article article:nth-of-type(5) {
  background-color: white;
}
article > div {
  display: inline-block;
  text-align: left;
  max-width: 60%;
}
article h1 {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
p {
  line-height: 200%;
  max-width: 50%;
  text-align: left;
  margin: auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
/*___________________________________ LINK ___________________________________ */
a.nice-link {
  position: relative;
  color: #0092CA;
}
h1 a.nice-link:after {
  border-bottom: 1px solid #00d0f3;
}
a.nice-link:after {
  text-align: justify;
  display: inline-block;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #00d0f3;
  min-height: 100%;
  width: 0;
  max-width: 100%;
  -moz-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
a.nice-link:hover {
  color: #0092CA;
}
a.nice-link:hover:after {
  width: 100%;
}